@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}


<!-- From Uiverse.io by csemszepp -->

<div class="text-center">
    <h1 class="display-4">Bienvenido  @User.FindFirst(ClaimTypes.Name)?.Value!</h1>
</div>



<!-- From Uiverse.io by andrew-demchenk0 -->
<div class="d-flex justify-content-center">
    <div class="pyramid-loader" style="text-align:center">
        <div class="wrapper" style="justify-content:center">
            <span class="side side1"></span>
            <span class="side side2"></span>
            <span class="side side3"></span>
            <span class="side side4"></span>
            <span class="shadow"></span>
        </div>
    </div>
</div>